@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AddShipmentButton:hover{
    background-color: rgb(5,29,64) !important;
    color: white !important;
}

.AddShipmentButton {
    transition: background-color 0.3s ease , color 0.3s ease;
}

body{
    background-color: aliceblue;
    overflow-x: hidden;
}

.shipmentDetails{
    position: absolute;
    height: 100vh;
    min-width: 300px;
    max-width: 100vw;
    background-color: aquamarine;
    right: 0;
    animation: fadeInRight;
    animation-duration: 3s;
    position: fixed;
    z-index: 1;
    background-color: #f0f8ff;
    overflow-y: auto;
}

.shipmentItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}
